<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                <h2>Add an author!</h2>
                <form method="POST" action="{%url 'add_author'%}">
                    {% csrf_token %}
                        <label for="booktitle" class="form-label">Name: </label>
                        <input type="text" class="form-control" id="first_name" name="first_name">
                        <label for="booktitle" class="form-label">Lastname: </label>
                        <input type="text" class="form-control" id="last_name" name="last_name">
                        <label for="Description" class="form-label">Notes: </label>
                        <input type="text" class="form-control" size=10 id="author_notes" name="author_notes">
                        <button type="submit" class="btn btn-dark mt-2">Add author</button>
                </form>
            </div>
            <div class="col-6">
                <div class="row text-center">
                    <table BORDER="5" WIDTH="50%" CELLPADDING="4" CELLSPACING="3">
                        <tr>
                            <th COLSPAN="2"><BR><H3>Authors</H3>
                            </th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                        {% for author in all_authors %}
                            <tr class="text-center">
                                <td>{{ author.id }}</td>
                                <td>{{ author.first_name }}</td>
                                <td>{{ author.last_name }}</td>
                                <td><a href="/authors/{{ author.id }}">View</a></td>
                                <td><a href="/delete_author/{{ author.id }}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <hr>
    </div>
</body>
</html>